/*- Custom style -*/

// -- Put custom style under this point -- //

* {margin:0;padding:0;} 

html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {overflow:auto;
  padding-bottom: 180px;}  /* must be same height as the footer */

#footer {position: relative;
  margin-top: -180px; /* negative value of footer height */
  height: 180px;
  clear:both;} 

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

body:after
{
    content: url("https://ashishchaudhary.in/images/site/awesome.svg") url("https://ashishchaudhary.in/images/site/bad.svg") url("https://ashishchaudhary.in/images/site/bitcoin-128-000000.png") url("https://ashishchaudhary.in/images/site/chart.png") url("https://ashishchaudhary.in/images/site/error.svg") url("https://ashishchaudhary.in/images/site/good.svg") url("https://ashishchaudhary.in/images/site/mediocre.svg") url("https://ashishchaudhary.in/images/site/send.svg");
    display: none;
}

::-webkit-input-placeholder {
   text-align: center;
   font-weight: bold;
   color: #008a3c;
   line-height: 2.5;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center; 
   font-weight: bold;
   color: #008a3c;
   line-height: 2.5;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
   font-weight: bold;
   color: #008a3c;
   line-height: 2.5;
}

:-ms-input-placeholder {  
   text-align: center;
   font-weight: bold;
   color: #008a3c;
   line-height: 2.5;
}

#bitcoin{
	max-width: 3%;
	display: inline-block;
	vertical-align: middle;
	margin: auto;
}

.br-wrapper{
	display: inline-block;
	margin: auto;
}

#message{
	width: 100%;
	border:2px dashed #008a3c;
	border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
	padding: 5px;
      overflow: hidden;
      resize:none;
}

#message:focus{
	border:2px solid #008a3c;
      outline: 0;
}

#sendbutton{
	display: inline-block;
	margin: auto;
	box-shadow: 5px 5px 3px #336633;
}

#sendbutton:hover{
	cursor: pointer;
}

#btcaddress{
	visibility: hidden;
	text-align: center;
}

#status{
	display: none;
}

.spinner {
  width: 40px;
  height: 40px;
  display: none;
  position: relative;
  margin: auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #008a3c;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
  }

  .feedback {
      display: table;
      width: 100%;
  }

  .feedback-box {
      display: table-cell;
      text-align: center;
      vertical-align:middle;
      margin:auto;
  }

  .rating-box {
      width: 40%;
  }

  .write-box {
    width: 50%;
  }

  .send-box {
    width: 10%;
  }

  @media (max-width: 768px) {
    .feedback-box {
        display: block;
        width: 100%;
        margin-top: 2%;
    }
}