.feedback {
  display: flex;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.feedback-box {
  display: inline-flex;
}

.rating-box {}

.write-box {
  min-width: 40%;
}

.send-box {
  align-self: center;
}

body:after {
    content: url("https://ashishchaudhary.in/images/site/awesome.svg") url("https://ashishchaudhary.in/images/site/bad.svg") url("https://ashishchaudhary.in/images/site/bitcoin-128-000000.png") url("https://ashishchaudhary.in/images/site/chart.png") url("https://ashishchaudhary.in/images/site/error.svg") url("https://ashishchaudhary.in/images/site/good.svg") url("https://ashishchaudhary.in/images/site/mediocre.svg") url("https://ashishchaudhary.in/images/site/send.svg");
    display: none;
}

::-webkit-input-placeholder {
   text-align: center;
   font-weight: bold;
   color: rgb(55, 71, 22);
   line-height: 2.5;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center; 
   font-weight: bold;
   color: rgb(55, 71, 22);
   line-height: 2.5;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
   font-weight: bold;
   color: rgb(55, 71, 22);
   line-height: 2.5;
}

:-ms-input-placeholder {  
   text-align: center;
   font-weight: bold;
   color: rgb(55, 71, 22);
   line-height: 2.5;
}

#message{
	width: 100%;
	border:2px dashed #B5E853;
	border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
	padding: 10px;
  overflow: hidden;
  resize:none;
}

#message:focus{
	border:2px solid #B5E853;
  outline: 0;
}

#sendbutton{
	display: inline-block;
	margin: auto;
	box-shadow: 5px 5px 3px #B5E853;
}

#sendbutton:hover{
	cursor: pointer;
}

#status{
	display: none;
}

.spinner {
  width: 40px;
  height: 40px;
  display: none;
  position: relative;
  margin: auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #B5E853;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

@media (max-width: 768px) {
  .feedback {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .rating-box {
    margin-bottom: 2.5vh;
  }

  .write-box {
    min-width: 70%;
    margin-bottom: 2.5vh;
  }
}