---
layout: default
---

<article id="post-page">
	<h2>{{ page.title }}</h2>
	{% include post-tags.html %}
	<time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}</time>
	<div class="content">

		{{ content }}

		<hr><br>

		<div class="feedback">

			<div class="feedback-box rating-box">
				<select id="rating">
					<option value="bad">Bad</option>
					<option value="mediocre" selected>Mediocre</option>
					<option value="good">Good</option>
					<option value="awesome">Awesome</option>
				</select>
			</div>

			<div class="feedback-box write-box">
				<textarea id = "message" placeholder= "Name, Email (optional), Message"></textarea>
			</div>

			<div class="feedback-box send-box">
				<img id = "sendbutton" src = "{{ "images/site/send.svg" | prepend: site.baseurl }}" >
		  		<div class="spinner">
		  			<div class="double-bounce1"></div>
		  			<div class="double-bounce2"></div>
		  		</div>
		  		<img id = "status" src = "">
			</div>				

		</div>
	</div>
</article>

