---
layout: default
---

<article id="post-page">
	<h2>{{ page.title }}</h2>		
	<time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}</time>
	<div class="content">

		{{ content }}

		<hr><br>

		<table style="width:100%">
		  <tr>

		  	<td width="40%">
				<select id="rating">
					<option value="bad">Bad</option>
					<option value="mediocre" selected>Mediocre</option>
					<option value="good">Good</option>
					<option value="awesome">Awesome</option>
				</select>
			</td>

			<td width="50%">
			 	<textarea id = "message" placeholder= "Name, Email (optional), Message"></textarea>
		   	</td>

		   	<td style="text-align: center">
		  		<img id = "sendbutton" src = "{{ "images/site/send.svg" | prepend: site.baseurl }}" >
		  		<div class="spinner">
		  			<div class="double-bounce1"></div>
		  			<div class="double-bounce2"></div>
		  		</div>
		  		<img id = "status" src = "">
		 	</td>

		  </tr>

		</table>
	</div>
</article>

